.todo {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
};
.maintext {
    display: flex;
    align-items: baseline;
};
.button {
    padding-top: 50px;
    padding-left: 90px;
}