.todo {
    padding-top: 50px;
    display: flex;
    justify-content: space-between
};
.maintext {
    display: flex;
    align-items: baseline;
};
.button {
    padding-top: 50px;
    padding-left: 220px;
}

.right {
    width: 50%;
    padding-top: 140px;
}

.subtask {
    display: flex;
    align-items: center;
}